     body {
                        margin:0;
                }
        
                #header {
                        padding-top:10px;
                }
                
                        #header h1, h2 {
                                margin:0;
                                display:inline-block;
								font-size:24px;
                        }
                        
                        #header h2 {
                                color:#C1C1C1;
								padding-top:10px;
                        }
						
						#header .label {
							font-size:12px;
							margin-top:30px;
						}
                        
                .content {
                        height:auto;
                        padding:20px;
                        padding-top: 0px;
						display:none;
					
						overflow: auto;
						min-height:500px;
                }
				
				.nodes_list {
                        list-style:none;
                        padding:0;
                        padding-left: 20px;
                        padding-right:20px;
                        padding-top:10px;
                }
                
                .nodes_list li {
                        display:inline-block;
                        margin-right:15px;
                        margin-bottom:30px;
                }
                
				.navbar {
					padding:10px;
				}
				
				.prev_section_btn {
					margin-right: 10px;
					display:none;
					margin-top:10px;
				}
				
				.next_section_btn {
					display:none;
					margin-top:10px;
				}
				
				.modal_content {
					display:none;
				}
				
				.tab-pane {
					padding:10px;
					border: 1px solid #ddd;
					border-top: 0;
				}
				
				#run_flows {
					display:none;
				}
				
				#prerequisites_panel .prereq_installed {
					background-color: #5cb85c;
					color: #FFF !important;
				}
				
				.prereq_installed  .list-group-item-heading, .prereq_missing .list-group-item-heading {
						color: #FFF !important;
				}
				
				#prerequisites_panel .prereq_missing {
					background-color: #d9534f;
					color: #FFF;
				}
				
				
				.prepare_step_waiting {
					background-color: #E0E0E0 !important;
					color: #B0B0B0 ;
				}
				
				.prepare_step_waiting:hover {
					color: #B0B0B0 !important;
					border: 1px solid transparent !important;
					cursor: default !important;
				}
				
				.prepare_step_failed {
					background-color: #d9534f !important;
					color: #FFFFFF;
				}
				
				.prepare_step_active  {
					background-color: #f0ad4e !important;
					color: #FFFFFF;
				}
				
				.prepare_step_failed:hover , .prepare_step_active:hover, .prepare_step_success:hover {
					color: #FFFFFF !important;
					border: 1px solid transparent !important;
					cursor: default !important;
				}
				
				.nav-tabs > li.active > a.prepare_step_failed, .nav-tabs > li.active > a.prepare_step_active, .nav-tabs > li.active > a.prepare_step_success {
					color: #FFFFFF !important;
				}
				
				.prepare_step_success {
					background-color: #5cb85c !important;
					color: #FFFFFF;
				}
				

				.tab-pane { 
					padding:50px;
				}
				
				.list-group-item .badge {
						background-color: transparent !important;
				}
				
				.prepare_step_progress  .badge {
						background-color: transparent !important;
						color: #000 !important;
				}
				
				.list-group-item {
					border:0 !important;
				}
				
				.alert {
					color: #000 !important;
				}
				
				
/* Added by TW */
#header-banner {
	//margin: 10px;
	//border-bottom: 1px solid #eee;
}

#header-banner h3 {
	color: #c1c1c1; 
	font-size: 18px;
}

#header-banner h4 {
	color: #000;
	font-size: 16px;
}

#row-special {
	width: 100%;
	//text-align: center;
	//background-color: #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

#step_breadcrumb {
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline-block;
}

#introduction-container {
	border-bottom: 1px solid #eee;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	width: 100%
}

.draft-comment {
  background-color: #99ff99;
  border: 1pt dashed black;
  border-radius: 4px;
}  

.draft-comment-in-list {
  background-color: #99ff99;
  border: 1pt dashed black;
  border-radius: 4px;
  padding: 15px 15px 0px 15px;
  margin: 10px 12px 0px 12px;
}  

.draft-comment-in-list2 {
  background-color: #99ff99;
  border: 1pt dashed black;
  border-radius: 4px;
  margin: 4px 12px 4px 0;
}  
  
.legal {
    background-color: #efefef;
    border: thin solid #b4b4b4;
    box-shadow: 10px 10px 5px #a0a0a0;
    font-size: 90% !important;
	font-style: italic;
	margin-top: 20px;
}
  
.nav-centre {
	margin-left: 20%;
}

.float-right {
  float: right;
  margin-right: 16px;
}

.collapse-group {
	padding-left: 20px;
	padding-right: 20px;
}

.indent {
	padding-left: 22px;
}

.indent6 {
	padding-left: 6px;
}

.indent a {
	cursor: pointer;
}

.center-video-div {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}

.page-footer-button-bar {
	float: right;
	margin-top: 12px;
}



/** STYLING FOR THE EXPANDABLE SECTIONS **/
.panel-heading a:after {
    color: grey; 
	content: "\e114";    
	float: left;  /* Changed this from right to left */ 
	font-family: 'Glyphicons Halflings';
    margin-left: -26px!important;  /* Added this to get the icon displayed to the left of the heading text */
}
.panel-heading a.collapsed:after {
    content: "\e080";
    margin-left: -26px!important;	/* Added this to get the icon displayed to the left of the heading text */
}
.panel-title-override {   /* Had to create new class for these */
	font-size: 16px;
    margin-bottom: 0;
    margin-left: 24px;
    margin-top: 0;
}
.panel-title-override a {
	color: #333;
}
.panel-group .panel {
margin-bottom: 8px!important;
}
/** END **/



/** STYLING FOR THE POPUP TEXT BOXES **/
.popupdiv {
	background: none repeat scroll 0 0 white;
	border: 2px solid #bbb;
	border-radius: 2px;
	box-shadow: 4px 4px 4px 1px #999;
	display:none;
	position: absolute;
	max-width: 45%;
	z-index: 1;
}

a.popup_link {
	text-decoration: none!important;
	font-size: 11px;
}

.popup_title {
	background: none repeat scroll 0 0 #bbb;
	color: midnightblue;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight : bold;
	height: 21px;
	line-height: 21px;
	padding-left: 5px;
	text-align: justify;
}

.popup_content { 
	background-color: lightyellow;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px;
	padding: 12px;
}

.popup_content img {
	border: 1px solid #ccc;
	max-height: 400px; 
	max-width: 400px;
}

.dragpopup { 
	cursor: move 
}

.popup_close { 
	float: right; 
	text-decoration:none;
	color: white;
}
/** END OF POPUP CSS **/




/** Intentional overrides of bootstrap.css properties - added by TW **/
body {
	font-size: 13px;
}

.list-group {
    margin-bottom: 0px!important;
}

.btn-lg {
	font-size: 14px!important;
	padding: 6px 12px!important;
}

.btn-primary {
  background-color: #008ABF;
  border-color: #003F69;
}

a.list-group-item:hover,
a.list-group-item:focus {
  color: #0172b4 !important;
}
      
@media screen and (min-width: 768px) {
  .modal-dialog {
  width: 800px;
}		

.well {
  background-color: #ffffff !important;
  padding: 19px 19px 6px 19px !important;
}  

.nav-tabs {
  background-color: #ffffff !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
  cursor: pointer !important;
  color: #000000 !important;
  border: 1px solid #bbbbbb !important;
}

.nav > li > a:visited {
  cursor: pointer !important;
  color: #999999 !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000000 !important;
  cursor: pointer !important;
  background-color: #d9edf7 !important;
  //border: 1px solid #bbbbbb !important;
  border-color: #bbb #bbb transparent !important;
}

.alert-background {
  background-color: #ffffcc;
  border-color: #ffffaa;
}

.page-header {
  margin: 20px 0 !important;
}

.mono {
  font-family: monospace;
}

.tab-pane {
	padding: 20px 40px 66px!important;
}